:root {
  --primary: #ff6900;
  --secondary: #333;
  --hover: #e05e00;
}

html {
  scroll-behavior: smooth;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  background: var(--secondary);
  padding: 15px;
  color: white;
}

.navbar ul {
  list-style: none;
  display: flex;
}

.navbar ul li {
  margin-left: 20px;
}

.navbar ul li a {
  color: white;
  text-decoration: none;
  transition: 0.3s;
}

.navbar ul li a:hover {
  color: var(--primary);
}
